*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  /** 16px * 0.625 = 10px */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--main-typo);
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-primary);
  box-sizing: border-box;

  line-height: 1.4; /* Optional */
  hyphens: auto; /* Optional */
  font-smooth: always; /* Optional */
  -webkit-font-smoothing: antialiased; /* Optional */
  -moz-osx-font-smoothing: grayscale; /* Optional */
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover; /* optional*/
  object-position: center center; /* optional*/
}

a {
  display: block;
}

p a {
  display: inline;
}

p {
  text-align: justify;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  align-self: inherit;
  font-weight: bolder;

}

hr {
  background-color: var(--color-primary);
  width: 100%;
  height: 0.3rem;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

form,
input,
textarea,
select,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  appearance: none; /* Optional */
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

main,
section,
aside,
article {
  align-self: inherit;
}
