.button {
  color: $color--white;
  cursor: pointer;

  &__primary {
    background-color: $color--blue;
    padding: 0.3rem 1rem;
    border: solid 1px color-intensity($color--blue, 700);
    border-radius: 7px;

    &:hover {
      background-color: color-intensity($color--blue, 700);
    }

    &:active {
      background-color: color-intensity($color--blue, 400);
    }
  }

  &__secondary {
    background-color: $color--orange;
    padding: 0.3rem 1rem;
    border: solid 1px color-intensity($color--orange, 700);
    border-radius: 7px;

    &:hover {
      background-color: color-intensity($color--orange, 700);
    }

    &:active {
      background-color: color-intensity($color--orange, 400);
    }
  }
}
