body {
  background-image: linear-gradient(
    to bottom,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
/** Header ***/
.Header {
  text-align: center;
}
.Titulo {
  text-align: center;
}

h1,
h2,
.Subtitulo {
  margin: 0;
}

.logo {
  width: 9.6rem;
}

/** contenido **/

.Contenido {
  text-align: center;
}

p {
  margin-top: 0;
}

.Celda_De_Pregunta {
  display: flex;
  justify-content: space-evenly;
}

.Celda_Pregunta_Multiple {
  display: flex;
  justify-content: space-evenly;
}
