
:root {
  --bc: #f7f5f2;
  --primary: #9acd32;
  --secondary: #ff3fb4;
  --tertiary: #ff441a;
  --white: #ffffff;
  --black: #000000;
  --gray: #6c757d;
  --gray-light: #fcf1ec;
  --gray-extra-dark: #343a40;
  --heading: 3.4rem;
  --heading-large: 7.5rem;
  --heading-medium: 2rem;
  --paragraph: 1.1rem;
}

html, body {
margin: 0;
font-family: var(--font-main);
background-color: var(--bc);
}

.column {
width: 100%;
height: 855px;
display: flex;
justify-content: center;
align-items: center;
}

.magazine {
height: 80%;
position: relative;
display: flex;}

.magazine-note {
top: -4em;
width: 100%;
padding: 1em;
border-radius: 5em;
position: absolute;
text-align: center;
color: var(--black);
font-weight: 600;
font-size: var(--paragraph);
text-transform: uppercase;
z-index: 10;
}
.magazine img {
height: 100%;
}

.sub-title{
  font-size: 20px;
}

.magazine-content {
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
position: absolute;
display: flex;
justify-content: flex-start;
flex-direction: column;
align-items: center;
overflow: hidden;
}
.text-overlay {
position: absolute;
pointer-events: none;
z-index: 2;
}
.magazine-content h1 {
top: 0;
margin: 0;
width: 100%;
line-height: 1.2em;
display: flex;
justify-content: center;
align-items: center;
font-size: 100px;
color: green;
font-family: 'Playfair Display', serif;
font-weight: 80;
text-shadow: 2px 1px 0.5px greenyellow;
}

.magazine-bottom {
width: 100%;
height: 100%;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
z-index: 3;
}

.magazine-left {
width: 100%;
height: 100%;
}
.magazine-left h2 {
margin: 1.4em 0 0 0;
line-height: .6em;
color: blueviolet;
text-transform: uppercase;
font-size: calc(var(--heading) - .2rem);
transform: scale(1, 1.4);
text-shadow: 2px 1px 0.5px black;
}
.left-inner {
margin: 0 0 0 0.5em;
}


.left-inner p {
margin: 1em 0 0 0;
color: greenyellow;
font-size: calc(var(--paragraph) - .35em);
font-family: 'Playfair Display', serif;
text-transform: uppercase;
font-style: italic;

}
.left-inner h3 {
margin: 0;
line-height: 1.3em;
color: var(--white);
text-transform: uppercase;
font-weight: 600;
transform: scale(1, 1.4);
font-size: 15px;
}
.left-inner h4 {
margin: 0;
line-height: 1.2em;
color: var(--white);
text-transform: uppercase;
font-size: calc(var(--paragraph) - .1em);
font-weight: 600;
transform: scale(1, 1.4);
font-size: 15px;
}
.left-inner h5 {
margin: 0;
line-height: 1.2em;
color: var(--white);
text-transform: uppercase;
font-size: calc(var(--paragraph) - .3em);
font-weight: 500;
transform: scale(1, 1.4);
}
.left-inner h6 {
padding-top: 5px;
margin: 0;
line-height: 1.5em;
color: var(--gray-light);
text-transform: uppercase;
font-size: calc(var(--paragraph) - .7em);
font-weight: 500;
transform: scale(1, 1.4);
opacity: .6;
text-shadow: 2px 1px 0.5px black;
}
.left-inner .space {
margin: 7em 0 0 0;
}
.left-inner .yellowbird {
margin: 4.3em 0 0 0;
color: green;
}
.left-inner .small-space {
margin: .5em 0 0 0;
}
.magazine-right {
width: 100%;
height: 100%;
text-align: right;
}
.right-inner {
margin: 0 .8em 0 0;
display: flex;
justify-content: flex-end;
flex-direction: column;
align-items: flex-end;
}
.right-inner .top {
margin: 1.2em 0 0 0;
}
.right-inner h2 {
margin: 0;
line-height: 1.1em;
color: greenyellow;
text-transform: uppercase;
font-size: 1.4rem;
transform: scale(1, 1.3);
text-shadow: 2px 1px 0.5px black;
}
.right-inner p {
margin: 0;
color: var(--gray-light);
font-size: calc(var(--paragraph) - .25em);
font-family: 'Playfair Display', serif;
text-transform: uppercase;
font-style: italic;

}
.right-inner h3 {
margin: 0;
line-height: 1.2em;
color: var(--white);
text-transform: uppercase;
font-weight: 600;
transform: scale(1, 1.3);
text-shadow: 2px 1px 1px green;
}
.right-inner h4 {
margin: 0;
line-height: 1.2em;
color: var(--white);
text-transform: uppercase;
font-size: calc(var(--paragraph) - .15em);
font-weight: 600;
transform: scale(1, 1.3);
}
.right-inner .line {
line-height: 1em;
font-size: calc(var(--paragraph) - .35em);
}
.right-inner .plus {
margin: 8em 0 0 0;
width: 40px;
height: 40px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.right-inner .plus .vert {
width: .3em;
height: 100%;
background-color: var(--primary);
position: absolute;
}
.right-inner .plus .horiz {
width: 100%;
height: .3em;
background-color: var(--primary);
position: absolute;
}
.right-inner .large {
font-size: calc(var(--heading) - 1.5rem);
}
.magazine-original {
margin: 0 1.5em;
height: 80%;
position: relative;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 3px 8px 42.5px 0 rgba(0, 0, 0, .225);
}
/* Selection */
::selection {
  color: var(--white);
  background: var(--primary);
}
#col2 img::selection {
  color: var(--white);
  background: var(--secondary);
}
#col2 .magazine-note::selection {
  color: var(--white);
  background: var(--secondary);
}