<header>
  <img src="" alt="">
  <h1> {{ title}} </h1>
  <input type="text" placeholder="Ingrese la nueva tarea" #tarea>
  <br>
  <br>
  <button (click)="agregarTarea(tarea.value)">Agregar tarea</button>
  <br>
  <br>
  <ul *ngFor="listado de item">
    <li> {{item.name}} </li>
  </ul>
  <nav>
    <a routerLink="/">Home</a>
    <br />
    <a routerLink="/login">Login</a>
  </nav>
</header>
<hr />
<main>
  <div>Aquí van las rutas para este módulo</div>
  <router-outlet></router-outlet>
</main>
<hr />
<footer>Info Extra</footer>
