body {
    width: 1200px;
    margin: 1rem;
    background-color: rgb(255, 255, 255);  
    margin: 1rem auto;
    box-sizing: border-box;
    border-width:4px; 
    border-style:solid; 
    border-color: rgb(152, 152, 152); 
    border-radius: 0.2rem;
    padding: 1.5em;
}

main {
  background-color: rgb(243, 243, 243);
  max-width: 100%;
  margin: 1rem auto;
}

  /** Header **/
  
  header {
    margin: 20px;
  }  

  #ruler-height {
    position: relative;
    top: 20px;
    border: none;
    height: 25px;
    background: coral;
    margin: 8;
}
  
  header h1 {
    font-family: 'Wilson Wells', 'Times New Roman', Times, serif;
    color: rgb(71, 71, 71);
    font-size: 150px;
    text-align: center;   
    line-height: 1;
    margin: 20px 0 15px 0;
    height:  fit-content;
    width: 100%;  
    
  }
  
  header > aside {
    
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    line-height: 1.2;
    font-weight: bold;
    align-self: center;
    border-width:3px; 
    border-style:solid; 
    border-color: rgb(255, 226, 215); 
    padding: .5em;
  }

  header > aside  {
    font-family:  'Wilson Wells', 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    font-weight: bolder;
    color: rgb(71, 71, 71);
  }
  
  /** Article News **/
  
  article > h3 {
    font-family: 'Wilson Wells', 'Times New Roman', Times, serif;
    color: rgb(71, 71, 71);
    font-size: 60px;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    margin: 10px 0 15px;
  }
  
  article section {
    display: flex;
  }
  
  .left-side {
    margin: 1rem;
  }
  
  .right-side {
    font-family: 'Wilson Wells', 'Times New Roman', Times, serif;
    color: rgb(39, 39, 39);
    font-size: 1rem;
    font-weight: bold;
    margin: 6px;
    column-count: 2;
    column-gap: 40px;
    column-rule: 1px solid black;
  }
  
  .pic-caption{
    font-family: 'Wilson Wells', 'Times New Roman', Times, serif;
    color: rgb(39, 39, 39);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
  }