body{
    background-color: var(--color-primary);
}

main{
    width: var(--main-width);
    margin: 1rem auto;
    padding: var(--padding-main);
    background-color: var(--color-secondary);
    max-width: var(--news-paper-width);
}

header{
    display: flex;
    flex-direction: column;
}

header > div, article{
    display: flex;
    justify-content: space-between;
}

header > article{
    display: flex;
    justify-content: space-around;
    align-self: center;
}

header > h1{
    font-family: var(--tipo-title);
    text-align: center;
    font-size: var(--font-size-xxxl);
    line-height: 1;
    padding-top: var(--padding-main);
}
.harry-img{
    width: var(--img-harry-width);
    padding: var(--padding-main);
}
.h-text{
    float: left;
    padding: var(--padding-main);
    font-family: MagicText;
    font-size: var(--font-size-xxxl);
}
.mayus{
    text-transform: uppercase;
}
.exclu-text{
    font-family: MagicText;
    font-size: var(--font-size-xxl);
}

section{
    display: flex;
}
section > article{
    display: flex;
    width: var(--article-size);
}

footer > p{
    text-align: center;
}
.hr-color{
    background-color: var(--color-letter);
    width: 100%;
    height: 0.2rem;
}

.shadow{
    text-shadow:0px 0px 2px black;
}

main{
    padding: 1rem;
}
.left-side > div{
    padding: var(--padding-main);
}