body{
    width: 1600px;
    background-color: black;
    
}
.magazine{
    background-image: url(img/pompeii.jpg);
    background-size: cover;
    margin: 0 auto;
    display: block;
    height: 800px;
    width: 35%;
    border: 35px solid rgb(233, 193, 21);
    text-shadow: 5px 3px 7px black;
}
.maintitular{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
    margin-top: 0;
}
.mayus{
    text-transform: uppercase;
}
.white{
    color: rgb(241, 241, 241);
}
.yellow{
    color: rgb(233, 193, 21);
}
.maintitular p{
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.titulares{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 0.1;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 20px;
}
.titulares_text{
    margin-right: 30px;
}
#head_logo{
    width: 200px;
    margin-top: 30px;
    margin-left: 30px;
}
#head_title{
    font-family:'Times New Roman', Times, serif;
    font-size: 110px;
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}
#maintitular_title{
    color: rgb(233, 193, 21);
    font-size: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#footer_title{
    margin-bottom: 1px;
    margin-left: 30px;
}
#footer_p1{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 30px;
}
#footer_p2{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 30px;
}

