html {
    background-color: mediumturquoise;
}


main {
    background-color: white;
    max-width: 100rem;
    max-height: 300em;
    margin: 2rem auto;
    border: 0.4rem solid #181818;
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 100%;
    
}

section {
    display: flex;
}

.left, .right {
    width: 50%;
}


header h2 {
    text-align: center;
    font-size: 6rem;
    line-height: 1;
    height: 10rem;
}


@font-face {
    font-family: 'Old London';
    src: url(./Fonts/OldStandardTT-Bold.ttf);
}

hr {
    background-color: black;
    width: 100%;
    height: 0.2rem;
    font-family: 'Old London';
}

aside {
    padding: 1rem 1rem;
}

.separate {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}


span {
    text-transform: uppercase;
    float: right;
    text-align: center;
    font-size: 1.5rem;
    align-self: center;
    
}

h1 {    
    font-size: 3rem;
    text-align: center;
    line-height: 0.10;
    text-transform: uppercase;
    word-spacing: 0.050em;
}

.big{
    column-count: 2;
    max-width: 100%;

    
    
}

.columns {
    display: flex;
    
}

.columns p {
    width: 50%;
    text-align: justify;
    margin: 2%;
}
/* .left {
    display: block;
    column-width: auto;
    margin-right: 2rem;
    column-count: 2;
    font-size: 2rem;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    
}
 */
h3 {
font-size: 1.5rem;
line-height: 0rem;
}    

.aside {
    display: block;
    column-count: 2;
    font-size: 1.9rem;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.image{
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
}
    

footer {
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}