@import url('https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Ahome%3A');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$typography-principal: 'Rubik Vinyl', 'Poppins', sans-serif;

/* Font Sizes */
$font-size-sm: 1.2rem;
$font-size-md: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-xl: 2.4rem;
