// Example: Set your color variables

$color--white: #fff8f0;
$color--black: #03071e;
$color--gray: #5c677d;
$color--blue: #0077b6;
$color--teal: #56cfe1;
$color--green: #2a9d8f;
$color--yellow: #e9c46a;
$color--orange: #e76f51;
$color--red: #d1495b;

// Example: Set a color shade step interval

$color--interval: 7.6%;

// Example: Map your colour names to the variables

$colors: () !default;
$colors: map-merge(
  (
    'white': $color--white,
    'black': $color--black,
    'gray': $color--gray,
    'blue': $color--blue,
    'teal': $color--teal,
    'green': $color--green,
    'orange': $color--orange,
    'yellow': $color--yellow,
    'red': $color--red,
  ),
  $colors
);

// Example: Deploy as background (bg) color utility classes

@each $key, $value in $colors {
  .bg--#{$key} {
    &-100 {
      background-color: lighten($value, $color--interval * 4);
    }
    &-200 {
      background-color: lighten($value, $color--interval * 3);
    }
    &-300 {
      background-color: lighten($value, $color--interval * 2);
    }
    &-400 {
      background-color: lighten($value, $color--interval);
    }
    &-500 {
      background-color: $value;
    }
    &-600 {
      background-color: darken($value, $color--interval);
    }
    &-700 {
      background-color: darken($value, $color--interval * 2);
    }
    &-800 {
      background-color: darken($value, $color--interval * 3);
    }
    &-900 {
      background-color: darken($value, $color--interval * 4);
    }
  }
}

@each $key, $value in $colors {
  .color--#{$key} {
    &-100 {
      background-color: lighten($value, $color--interval * 4);
    }
    &-200 {
      background-color: lighten($value, $color--interval * 3);
    }
    &-300 {
      background-color: lighten($value, $color--interval * 2);
    }
    &-400 {
      background-color: lighten($value, $color--interval);
    }
    &-500 {
      background-color: $value;
    }
    &-600 {
      background-color: darken($value, $color--interval);
    }
    &-700 {
      background-color: darken($value, $color--interval * 2);
    }
    &-800 {
      background-color: darken($value, $color--interval * 3);
    }
    &-900 {
      background-color: darken($value, $color--interval * 4);
    }
  }
}
