body{
    background-image: var(--background);
    
}
header{
    line-height: var(--space-line);
    position: fixed;
    width: 98%;
    top: 0;
}
.header{
    background-color: rgba(1,26,48,255);
    color: var(--color-letter-secondary);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    height: 100px;
}
main{
    border-radius: 1%;
    background-color: var(--color-primary);
    width: var(--width-main);
    margin: 5.6em auto; /*espacio alrededor de la revista, ayuda a que quede centrado*/
    padding: var(--padding-main);
}

h1{
    font-family: var(--tipo-tittle);
    font-size: var(--font-size-xxxl);
}
fieldset{
    border-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}
img{
    width: var(--shield-width);
}
.section{
    display: flex;
}
.space-left{
    padding-left: var(--space-label);
}

button{
    background-color: blue;
}

