$color-primary: #a67153;
$color-secundary: #ccd4d9;
$color-pink: #e9038b;
$color-fuchsia: #e32563;
$color-red: #f5010c;
$color-dark-yellow: #251d09;
$color-darck-blue: #061d1f;
$color-gray: #35343a;
$color-white-100: #f7fdfd;

$color-white: #ffffff;
$color-black: #2e2e2e;

// Typography Vogue
$typography-title: 'Times New Roman', Times, serif;
$typography-headline: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Typography F
$typography-title-f: 'Times New Roman', Times, serif;
$typography-headline-f: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
