
/*Reseteamos los margin y paddings*/
*{
    margin: 0; 
    padding: 0; 
    border: 0; /*sobre todo en formularios*/    
}

/*Evitamos problemas con imagenes img, picture, video, iframe, figure*/
img{
    --news-paper-max-width: 100%; /*Esto sirve para que las imagenes no ocupen un tamaño mayor a su contenedor*/
    width: 95%; /*imagenes pequeñas*/
    display: block; /*quitar el espacio de las imagenes que tienen inline-block*/   
}

/*Arreglamos problemas de letras*/
h1,
h2,
h3,
h4,
p {
    font-size: 0.8em;
}

/*configuramos el texto que seleccionamos*/
::selection{
    background-color: var(--color-selection);
    color: var(--color-letraPrincipal);
}

body{
    font-size: var(--font-size-md);
    font-family: var(--tipo-principal);
    color: var(--color-letraPrincipal);
    text-shadow:0px 0px 5px black;
}