body{
    background-color: var(--color-body);
}

main{
    background-image: var(--degradado); /*fondo azul*/
    border: var(--border-main) solid var(--color-principal); /*bordo amarillo*/
    padding: var(--padding-main); /*estacio que esta adentro alrededor de la revista*/
    margin: 0em auto; /*espacio alrededor de la revista, ayuda a que quede centrado*/
    width: 612px;
    height: 791px;
    position: relative;
}

nav{
    font-size: var(--font-size-sm);
    font-family: var(--tipo-nav);
    letter-spacing: 1px;

    position: relative;
    z-index: 3;
}
.nav_url{
    position: absolute;
}
.nav_date{
    position: absolute;
    right: 0;
}


header{
    position: absolute;
    font-family: var(--tipo-tittle);
    line-height: 1;
    z-index: 1;
}
.headboard_tittle{
    font-size: var(--font-size-xxxl);
}
img{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
footer{
    position: absolute;
    bottom: 0;
    padding-bottom: 2em;
    z-index: 4;
}

.article_tittle{
    
    color: var(--color-secondary);
}

.mayus{
    text-transform: uppercase;
}
.yellow{
    color: var(--color-principal);
}
.white{
    color: var(--color-letraPrincipal);
}
.black{
    color: var(--color-letraPrincipal2);
}