* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}

body {
    display: flex;
    background-color: #114B5F;
    text-align: center;
    flex-direction: column;
    padding-top: 2%;}

#container {
    width: 500px;
    height: 500px;
    background: antiquewhite;
    margin: 10px auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: 'Audiowide';
    color: #E4FDE1;
}

ul li {
    background: #456990;
    width: 30%;
    height: 150px;
    border: 1px solid #028090;
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
    padding-top: 3rem;
}

.empty {
    background: purple;
    border: 2px solid #114B5F;
}
