<h1 class="text-center text-primary">Todo App in Angular</h1>
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="newTask">Add New</label>
            <input type="text" class="form-control" id="newTask" [(ngModel)]='todoInput'>
        </div>
    </div>
    <div class="col-3 mt-4">
        <button class="btn btn-success" (click)="addTask()" [disabled]=!todoInput.length>Add</button>
    </div>
    <div class="col-3 mt-4">
        <button class="btn btn-danger" (click)="resetForm()" [disabled]=!todoInput.length>Reset</button>
    </div>

</div>
