body {
  background-color:  #DADADA;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
}

hr {
  height: 1px;
  background-color: black;
}
.dn{
  font-size: 12px;
 
}

.ld{
  float: right;
}

h2{
  text-align: center;
}

article{
  display: 100%;
}

.parte-izquierda{
  position: absolute;
  left: 0px;
  width: 50%;
}
.texto-izq{
  column-count:2;
  text-align: justify;
}

.parte-derecha{
  position: absolute;
  right: 0px;
  width: 50%;
}

img {
  width: 338px;
}

