body {
    background-color: #F0F0F0;
  }
  .cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .cover img {
    width: 60%;
  }
  .cover h1 {
    margin: 0;
    padding: 0;
    font-size: 72px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #333;
  }
  .cover h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #555;
  }