body{
    background-color: var(--color-primary);
}

main{
    width: var(--main-width);
    margin: 1rem auto;
    padding: var(--padding-main);
    background-color: var(--color-secondary);
    max-width: var(--news-paper-width);
}

header{
    display: flex;
    flex-direction: column;
}

header > div, article{
    display: flex;
    justify-content: space-between;
}

header > article{
    display: flex;
    justify-content: space-around;
    align-self: center;
}

header > h1{
    font-family: var(--tipo-title);
    text-transform: uppercase;
    text-align: center;
    font-size: var(--font-size-xxxl);
    line-height: 1;
}
.harry-img{
    width: var(--img-harry-width);
}
.h-img{
    width: var(--img-h-width);
}
.exclu-img{
    width: var(--img-exclu-width);
}

section{
    display: flex;
}
section > article{
    display: flex;
    width: var(--article-size);
}

footer > p{
    text-align: center;
}
.hr-color{
    background-color: var(--color-letter);
    width: 100%;
    height: 0.2rem;
}
